<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Book {{ book }} - {{ book_title }}</title>
</head>

<body>

  {% for chapter in chapter_details %}


    <h2>{{ chapter.title }}</h2>
    
    <br>
    <em>Chapter {{ chapter_no }}</em>
    
    <br>
    {% for image_url, _ in chapter.image_dict.items() %}
    <img src="{{ book_dir }}/{{ image_url }}">
    {% endfor %}
    
    <br>
    ALT TEXT:
    <br>
    <em>{{ chapter.alt_text }}</em>
    
    <br>
    <br>
    DESCRIPTION:
    <br>
    {% for type, desc_val in chapter.desc_dict.items() %}
    {% if type == "p" %}
    <p>{{ desc_val }}</p>
    {% elif type == "img" %}
    <img src="{{ val }}">
    {% endif %}
    {% endfor %}

    
    <br>
    <br>
    <br>
    NEXT PAGE
    <br>
    <br>
    <br>


  {% endfor %}

</body>
</html>
