<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

  <title>Book {{ book }} - {{ book_title }}</title>
</head>

<body>

  {% for chapter in chapter_details %}
    <h2>{{ chapter.title }}</h2>
    
    <br>
    {% for image_url, _ in chapter.image_dict.items() %}
    <img src="{{ book_dir }}/{{ image_url }}">
    {% endfor %}
    
    <br>
    <em>Alt text: {{ chapter.alt_text }}</em>
    
    <br>
    {% for type, desc_val in chapter.desc_dict.items() %}
    {% if type == "p" %}
    <p>{{ desc_val }}</p>
    {% elif type == "img" %}
    <img src="{{ desc_val }}">
    {% endif %}
    {% endfor %}
  {% endfor %}

</body>
</html>
