<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <!-- <style>
  h1 { text-align: center }
  h2 { text-align: center }
  p { text-align: center }
  img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  </style> -->
  <title>Book {{ book }} - {{ book_title }}</title>
</head>

<body>
{% for chapter in chapter_details %}
  <div class="columns is-mobile is-centered">
    <div class="column is-four-fifths">
      <p class="is-size-2">{{ chapter.title }}</p>
    </div>
  </div>

  <div class="columns is-mobile is-centered">
  {% for image_url, _ in chapter.image_dict.items() %}
    <div class="column is-four-fifths">
      <img src="{{ book_dir }}/{{ image_url }}">
    </div>
  {% endfor %}
  </div>
  
  <div class="columns is-mobile is-centered">
    <div class="column is-four-fifths">
      <p class="is-italic">{{ chapter.alt_text }}</p>
    </div>
  </div>

  <div class="columns is-mobile is-centered">
    <div class="column is-four-fifths"> 
    {% for desc_tuple in chapter.desc_list %}
      {% if desc_tuple.0 == "p" %}
      <p>{{ desc_tuple.1 }}</p>
      {% elif desc_tuple.0 == "img" %}
      <img src="{{ desc_tuple.1 }}">
      {% endif %}
    {% endfor %}
    </div>
  </div>
{% endfor %}
</body>
</html>
